@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
}

nav {
  padding: 15px 0px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 8px;
  justify-content: center;
}

li a {
  color: white;
  font-size: 11px;
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
}

.lionel li a {
  color: skyblue;
}

.cristiano li a {
  color: red;
}

.last-page ul {
  padding-right: 35px;
}

main {
  background-color: black;
  color: white;
  font-family: "Playfair Display", serif;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  display: flex;
  font-size: 12px;
  padding: 15px 0px;
  justify-content: space-between;
  padding: 20px;
}
footer img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  object-fit: cover;
}
footer div {
  display: flex;
  gap: 5px;
}

.title {
  display: flex;
  flex-direction: column;
}
.title h1, .title h2 {
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 23px;
  color: black;
  font-family: "Caprasimo", cursive;
}
.title img {
  width: 100%;
  height: 30px;
}

.description, .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.description p, .text p {
  text-align: center;
}

.description img, .text img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.card-titulo, .card-body-titulo {
  font-family: "Pacifico", cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: skyblue;
}

.card-body-titulo {
  color: red;
}

.card, .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.cajas, .cajitas {
  width: 90%;
  text-align: center;
  color: white;
  border: 2px solid white;
}

.cajas p, .cajitas p {
  padding: 10px;
}

.cajas img, .cajitas img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tarjeta-titulo {
  font-family: "Pacifico", cursive;
  text-align: center;
  padding-top: 10px;
}

.tarjeta, .tarjeta-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tarjeta img, .tarjeta-body img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tarjetita, .tarjetita-body {
  width: 99%;
  color: white;
  gap: 5px;
  text-align: center;
  border: 2px solid white;
}

.tarjetita ul, .tarjetita-body ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.tarjetita h2, .tarjetita-body h4 {
  padding-top: 10px;
  color: skyblue;
  font-size: 18px;
}

.tarjetita-body h4 {
  color: red;
}

@media screen and (min-width: 430px) {
  li a {
    font-size: 14px;
  }
  .title h1, .title h2 {
    font-size: 19px;
    top: 25px;
  }
  .description p, .text p, .card p, .card-body p, .tarjeta li, .tarjeta-body li {
    font-size: 18px;
  }
  .card-titulo, .card-body-titulo, .tarjeta-titulo {
    font-size: 25px;
  }
  .tarjetita h2, .tarjetita-body h4 {
    font-size: 22px;
  }
  footer img {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 480px) {
  ul {
    gap: 18px;
  }
  li a {
    font-size: 15px;
  }
  .title h1, .title h2 {
    font-size: 22px;
    top: 32px;
  }
  .title img {
    height: 40px;
  }
  .description p, .text p, .card p, .card-body p, .tarjeta p {
    font-size: 20px;
  }
  .card-titulo, .card-body-titulo, .tarjeta-titulo {
    font-size: 30px;
  }
  li {
    font-size: 20px;
  }
  .tarjetita ul, .tarjetita-body ul {
    gap: 6px;
  }
  .tarjetita h2, .tarjetita-body h4 {
    font-size: 27px;
  }
  footer img {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 600px) {
  li a {
    font-size: 20px;
  }
  ul {
    gap: 20px;
  }
  .title h1, .title h2 {
    font-size: 25px;
    top: 40px;
  }
  .title img {
    height: 50px;
  }
  .description p, .text p, .card p, .card-body p, .tarjeta p {
    font-size: 22px;
  }
  .card-titulo, .card-body-titulo, .tarjeta-titulo {
    font-size: 35px;
  }
  .tarjetita h2, .tarjetita-body h4 {
    font-size: 31px;
  }
  footer div {
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  /* Header */
  ul {
    justify-content: end;
  }
  a {
    transition: 1s;
  }
  li:hover a {
    background-color: white;
    color: black;
    border-radius: 20px;
  }
  /* Main */
  main {
    font-family: "Playfair Display", serif;
  }
  /* Inicio */
  .title div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title h1, .title h2 {
    font-size: 32px;
    top: 53px;
  }
  .title img {
    width: 60%;
    height: 70px;
    border-radius: 30px;
  }
  .description {
    flex-direction: row;
  }
  .description div {
    padding: 15px;
    width: 50%;
  }
  .description p {
    font-size: 30px;
  }
  .description img {
    height: 100%;
  }
  /* messi y ronaldo */
  .text img {
    height: 550px;
  }
  .text-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
  }
  .text-images img {
    width: 33%;
  }
  /* Estadisticas */
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1 area2 area2" "area3 area3 area4 area4";
    gap: 40px;
    padding: 20px;
  }
  .j1 {
    grid-area: area1;
  }
  .j2 {
    grid-area: area2;
  }
  .j3 {
    grid-area: area3;
  }
  .j4 {
    grid-area: area4;
  }
  .card-body {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2 area3" "area4 area5 area6";
    gap: 20px;
  }
  .c1 {
    grid-area: area1;
  }
  .c2 {
    grid-area: area2;
  }
  .c3 {
    grid-area: area3;
  }
  .c4 {
    grid-area: area4;
  }
  .c5 {
    grid-area: area5;
  }
  .c6 {
    grid-area: area6;
  }
  .cajas, .cajitas {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px 2px white;
    transition: 1s;
  }
  .cajas img, .cajitas img {
    filter: blur(5px);
    border-radius: 0%;
    transition: 0.5s;
  }
  .cajas:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 3px 3px 3px 2px skyblue;
  }
  .cajitas:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 3px 3px 3px 2px red;
  }
  .cajitas:hover img, .cajas:hover img {
    filter: blur(0px);
  }
  /* Trofeos */
  .tarjeta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2" "area3 area4" "area5 area5" "area6 area6";
    gap: 40px;
    padding: 50px;
  }
  .t1 {
    grid-area: area1;
    transition: 0.5s;
  }
  .t1:hover {
    background-image: linear-gradient(white, skyblue);
    color: black;
    box-shadow: 3px 0px 3px 2px skyblue;
  }
  .t1:hover h2 {
    transition: 0.5s;
    color: black;
  }
  .t2 {
    grid-area: area2;
  }
  .t2:hover {
    background-image: linear-gradient(brown, rgb(1, 1, 138));
  }
  .t2:hover h2 {
    transition: 0.5s;
    color: white;
  }
  .t2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
  }
  .t3 {
    grid-area: area3;
  }
  .t3:hover {
    background-image: linear-gradient(to left, blue, white, red, white, blue);
    color: black;
  }
  .t3:hover h2 {
    transition: 0.5s;
    color: black;
  }
  .t4 {
    grid-area: area4;
  }
  .t4:hover {
    background-image: linear-gradient(white, rgb(247, 138, 156));
    color: black;
  }
  .t4:hover h2 {
    transition: 0.5s;
    color: black;
  }
  .t5 {
    grid-area: area5;
  }
  .t5:hover {
    background-image: radial-gradient(white, gold, white);
    color: black;
  }
  .t5:hover h2 {
    transition: 0.5s;
    color: black;
  }
  .t5 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .t6 {
    grid-area: area6;
  }
  .tarjeta-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area7 area7" "area8 area8 area8";
    gap: 25px;
    padding: 20px;
  }
  .b1 {
    grid-area: area1;
  }
  .b2 {
    grid-area: area2;
  }
  .b3 {
    grid-area: area3;
  }
  .b4 {
    grid-area: area4;
  }
  .b5 {
    grid-area: area5;
  }
  .b6 {
    grid-area: area6;
  }
  .b7 {
    grid-area: area7;
  }
  .b8 {
    grid-area: area8;
  }
  .tarjetita, .tarjetita-body {
    border: none;
    box-shadow: 3px 0px 3px 2px white;
    transition: 0.5s;
  }
  .tarjetita:hover {
    transform: scale(1.1, 1.1);
  }
  .tarjetita-body:hover {
    box-shadow: 3px 0px 3px 2px red;
    transform: scale(1.1, 1.1);
  }
  .card-titulo, .card-body-titulo, .tarjeta-titulo {
    font-size: 40px;
  }
  .tarjetita h2, .tarjetita-body h4 {
    font-size: 35px;
  }
  footer {
    justify-content: space-around;
  }
  footer div {
    gap: 15px;
  }
  footer img {
    width: 70px;
    height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
