.title {
    display: flex;
    flex-direction: column;

    h1 , h2 {
        text-align: center;
        font-size: 15px;
        position: relative;
        top: 23px;
        color: black;
        font-family: 'Caprasimo', cursive;
    }

    img {
        width: 100%;
        height: 30px;
    }
}
.description , .text {
    @include flex(column, 15px);
    padding-top: 10px;
}
.description p , .text p {
    text-align: center;
}
.description img , .text img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}