@media screen and (min-width:430px) {
    li a {
        font-size: 14px;
    }
    .title {
        h1 , h2 {
            font-size: 19px;
            top: 25px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p , .tarjeta-body p , .quantity {
        font-size: 18px;
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo , .tarjeta-body-titulo {
        font-size: 25px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 22px;
    }
    .tarjetita , .tarjetita-body {
        div {
            height: 30px;

            div {
                width: 320px;
            }
        }
    }
    .quantity {
        width: 35px;
        height: 30px;
    }
    footer img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (min-width:480px) {
    ul {
        gap: 18px;
    }
    li a {
        font-size: 15px;
    }
    .title {
        h1 , h2 {
            font-size: 22px;
            top: 32px;
        }
        img {
            height: 40px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p , .tarjeta-body p , .quantity {
        font-size: 20px;
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo , .tarjeta-body-titulo {
        font-size: 30px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 27px;
    }
    .tarjetita , .tarjetita-body {
        div {
            height: 32px;

            div {
                width: 380px;
            }
        }
    }
    .quantity {
        width: 37px;
        height: 32px;
    }
    footer img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width:600px) {
    li a {
        font-size: 20px;
    }
    ul {
        gap: 20px;
    }
    .title {
        h1 , h2 {
            font-size: 25px;
            top: 40px;
        }
        img {
            height: 50px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p , .tarjeta-body p , .quantity {
        font-size: 22px;
    }
    .card-titulo ,.card-body-titulo , .tarjeta-titulo , .tarjeta-body-titulo {
        font-size: 35px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 31px;
    }
    .tarjetita ,  .tarjetita-body {
        div {
            height: 35px;

            div {
                width: 480px;
            }
        }
    }
    .quantity {
        width: 40px;
        height: 35px;
    }
    footer div {
        gap: 10px;
    }
}

@media screen and (min-width:880px) {
    /* Header */
    ul {
        justify-content: end;
    }
    li a {
    font-size: 25px;
    }

    /* Inicio */
    .title {
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, h2 {
            font-size: 32px;
            top: 53px;
        }
        img {
            width: 60%;
            height: 70px;
            border-radius: 30px;
        }
    }
    .description {
        flex-direction: row;

        div {
            padding: 15px;
            width: 50%;
        }
        p {
            font-size: 30px;
        }
        img {
            height: 100%;
        }
    }
    /* messi y ronaldo */
    .text {
        p {
            font-size: 30px;
        }
        img {
            height: 550px;
        }
    }
    .text-images {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 20px;

        img {
            width: 33%;
        }
    }

    /* Estadisticas */
    .card {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: auto;
         grid-template-areas: 
         
         "area1 area1 area2 area2"
         "area3 area3 area4 area4"
         ;
         gap: 40px;
         padding: 20px;

         p {
            font-size: 30px;
         }
        }
    .j1 {
        grid-area: area1;
    }
    .j2 {
        grid-area: area2;
    }
    .j3 {
        grid-area: area3;
    }
    .j4 {
        grid-area: area4;
    }
    .card-body {
        display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area1 area2 area2"
        "area3 area3 area4 area4"
        "area5 area5 area6 area6"
        ;
        gap: 20px;
        padding: 15px;

        p {
            font-size: 30px;
        }
    }
    .c1 {
        grid-area: area1;
    }
    .c2 {
        grid-area: area2;
    }
    .c3 {
        grid-area: area3;
    }
    .c4 {
        grid-area: area4;
    }
    .c5 {
        grid-area: area5;
    }
    .c6 {
        grid-area: area6;
    }
    .cajas , .cajitas {
        background-color: black;
        color: white;
        border: none;
        box-shadow: 3px 3px 3px 2px white;
    }

    /* Trofeos */
    .tarjetita ,  .tarjetita-body {
        div {
            height: 40px;

            div {
                width: 700px;
            }
        }
    }
    .quantity {
        width: 45px;
        height: 40px;
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo , .tarjeta-body-titulo {
        font-size: 40px;
    }
    .tarjeta p , .tarjeta-body p {
        font-size: 30px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 35px;
    }
    footer {
        justify-content: space-around;

        div {
            gap: 15px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}

@media screen and (min-width:1200px) {
    /* Header */
    ul {
        justify-content: end;
    }
    a {
        transition: 1s;
    }
    li:hover a {
    background-color: white;
    color: black;
    border-radius: 20px;
    }

    /* Main */
    main {
        font-family: 'Playfair Display', serif;
    }

    /* Inicio */
    .title {
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, h2 {
            font-size: 35px;
            top: 55px;
        }
        img {
            width: 60%;
            height: 70px;
            border-radius: 30px;
        }
    }
    .description {
        flex-direction: row;

        div {
            padding: 15px;
            width: 50%;
        }
        p {
            font-size: 30px;
        }
        img {
            height: 100%;
        }
    }
    /* messi y ronaldo */
    .text {
        img {
            height: 550px;
        }
    }
    .text-images {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 20px;

        img {
            width: 33%;
        }
    }

    /* Estadisticas */
    .card {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: auto;
         grid-template-areas: 
         
         "area1 area1 area2 area2"
         "area3 area3 area4 area4"
         ;
         gap: 40px;
         padding: 20px;
        }
    .j1 {
        grid-area: area1;
    }
    .j2 {
        grid-area: area2;
    }
    .j3 {
        grid-area: area3;
    }
    .j4 {
        grid-area: area4;
    }
    .card-body {
        display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area1 area2 area2"
        "area3 area3 area4 area4"
        "area5 area5 area6 area6"
        ;
        gap: 20px;
        padding: 15px;
    }
    .c1 {
        grid-area: area1;
    }
    .c2 {
        grid-area: area2;
    }
    .c3 {
        grid-area: area3;
    }
    .c4 {
        grid-area: area4;
    }
    .c5 {
        grid-area: area5;
    }
    .c6 {
        grid-area: area6;
    }
    .cajas , .cajitas {
        background-color: black;
        color: white;
        border: none;
        box-shadow: 3px 3px 3px 2px white;
        transition: 1s;
    }
    .cajas img , .cajitas img {
        filter: blur(5px);
        border-radius: 0%;
        transition: 0.5s;
    }
    .cajas:hover {
            transform: scale(0.9,0.9);
            box-shadow: 3px 3px 3px 2px $color-messi;
    }
    .cajitas:hover {
        transform: scale(0.9,0.9);
        box-shadow: 3px 3px 3px 2px $color-ronaldo;
    }
    .cajitas:hover img, .cajas:hover img {
        filter: blur(0px);
    }

    /* Trofeos */
    .tarjeta { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area2"
        "area3 area4"
        "area5 area5"
        "area6 area6"
        ;
        gap: 20px;
        padding: 25px;
    }
    .t1 {
        grid-area: area1;

        &:hover {
            background-image: linear-gradient(white, skyblue);
            color: black;
            box-shadow: 3px 0px 3px 2px $color-messi;
            p {
                color: black;
            }
        }
    }
    .t2 {
        grid-area: area2;

        &:hover {
            background-image: linear-gradient(brown, rgb(1, 1, 138));
        }
    }
    .t3 {
        grid-area: area3;

        &:hover {
            background-image: linear-gradient( to left, blue, white, red, white, blue);
            color: black;
            p {
                color: black
            }
        }
    }
    .t4 {
        grid-area: area4;

        &:hover {
            background-image: linear-gradient( white, rgb(247, 138, 156));
            color: black;
            p {
                color: black
            }
        }
    }
    .t5 {
        grid-area: area5;

        &:hover {
            background-image: radial-gradient(white, gold, white);
            color: black;
            p {
                color: black;
            }
        }
    }
    .t6 {
        grid-area: area6;
    }
    .tarjeta-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area7 area7"
        "area8 area8"
        ;
        gap: 20px;
        padding: 25px;
    }
    .b1 {
        grid-area: area1;

        &:hover {
            background-image: linear-gradient(to right, green, brown);
            color: white;
            p {
                color: white;
            }
        }
    }
    .b2 {
        grid-area: area2;

        &:hover {
            background-image: linear-gradient(white, green, white);
            color: black;
            p {
                color: black;
            }
        }
    }
    .b3 {
        grid-area: area3;

        &:hover {
            background-image: linear-gradient(red, white);
            color: black;
            p {
                color: black;
            }
        }
    }
    .b4 {
        grid-area: area4;

        &:hover {
            background-image: radial-gradient(white, rgb(252, 234, 133));
            color: black;
            p {
                color: black;
            }
        }
    }
    .b5 {
        grid-area: area5;

        &:hover {
            background-image: radial-gradient(white, black);
            color: black;
            p {
                color: black;
            }
        }
    }
    .b6 {
        grid-area: area6;

        &:hover {
            background-image: linear-gradient(yellow, blue);
            color: black;
            p {
                color: black;
            }
        }
    }
    .b7 {
        grid-area: area7;

        &:hover {
            background-image: radial-gradient(white, gold, white);
            color: black;
            p {
                color: black;
            }
        }
    }
    .b8 {
        grid-area: area8;
    }
    .tarjetita , .tarjetita-body {
        padding: 10px;
        box-shadow: 3px 0px 3px 2px white;
        transition: 0.7s;
        height: auto;

        div {
            justify-content: center;
            text-align: center;

            div {
                padding-left: 35px;
                width: 60%;
                background-image: none;

                p {
                    transition: 0.7s;
                    color: white;
                }
            }
        }
    }
    .quantity {
        background-image: none;
        color: white;
        transition: 0.7s;
    }
    .tarjetita:hover {
        transform: scale(0.9,0.9);
    }
    .tarjetita-body:hover {
        transform: scale(0.9,0.9);
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo , .tarjeta-body-titulo {
        font-size: 45px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        text-decoration: underline;
        font-size: 40px;
    }
    footer {
        justify-content: space-around;

        div {
            gap: 15px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}