@media screen and (min-width:430px) {
    li a {
        font-size: 14px;
    }
    .title {
        h1 , h2 {
            font-size: 19px;
            top: 25px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p {
        font-size: 18px;
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo {
        font-size: 25px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 22px;
    }
    footer img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (min-width:480px) {
    ul {
        gap: 18px;
    }
    li a {
        font-size: 15px;
    }
    .title {
        h1 , h2 {
            font-size: 22px;
            top: 32px;
        }
        img {
            height: 40px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p {
        font-size: 20px;
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo {
        font-size: 30px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 27px;
    }
    footer img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width:600px) {
    li a {
        font-size: 20px;
    }
    ul {
        gap: 20px;
    }
    .title {
        h1 , h2 {
            font-size: 25px;
            top: 40px;
        }
        img {
            height: 50px;
        }
    }
    .description p , .text p , .card p , .card-body p , .tarjeta p {
        font-size: 22px;
    }
    .card-titulo ,.card-body-titulo , .tarjeta-titulo {
        font-size: 35px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 31px;
    }
    footer div {
        gap: 10px;
    }
}

@media screen and (min-width:768px) {
    /* Header */
    ul {
        justify-content: end;
    }
    a {
        transition: 1s;
    }
    li:hover a {
    background-color: white;
    color: black;
    border-radius: 20px;
    }
    .messi:hover a {
        background-color: white;
        color: $color-messi;
    }
    .ronaldo:hover a {
        background-color: rgb(2, 175, 2);
        color: $color-ronaldo
    }

    /* Inicio */
    .title {
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, h2 {
            font-size: 32px;
            top: 53px;
        }
        img {
            width: 60%;
            height: 70px;
            border-radius: 30px;
        }
    }
    .description {
        flex-direction: row;

        div {
            padding: 15px;
            width: 50%;
        }
        p {
            font-size: 25px;
        }
        img {
            height: 100%;
        }
    }
    /* messi y ronaldo */
    .text {
        img {
            height: 550px;
        }
    }
    .text-images {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 20px;

        img {
            width: 33%;
        }
    }

    /* Estadisticas */
    .card {
        flex-direction: row;
        padding: 15px;
        gap: 20px;
    }
    .card-body {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area2 area3"
        "area4 none area5"
        ;
        gap: 20px;
    }
    .c1 {
        grid-area: area1;
    }
    .c2 {
        grid-area: area2;
    }
    .c3 {
        grid-area: area3;
    }
    .c4 {
        grid-area: area4;
        position: relative;
        left: 100px;
    }
    .c5 {
        grid-area: area5;
        position: relative;
        right: 100px;
    }
    .cajas , .cajitas {
        background-color: black;
        color: white;
        border-radius: 0%;
        box-shadow: 3px 3px 3px 2px white;
        transition: 1s;
    }
    .cajas img , .cajitas img {
        filter: blur(5px);
        border-radius: 0%;
        transition: 0.5s;
    }
    .cajas:hover {
            transform: scale(0.9,0.9);
            box-shadow: 3px 3px 3px 2px $color-messi;
    }
    .cajitas:hover {
        transform: scale(0.9,0.9);
        box-shadow: 3px 3px 3px 2px $color-ronaldo;
    }
    .cajitas:hover img, .cajas:hover img {
        filter: blur(0px);
    }

    /* Trofeos */
    .tarjeta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area2"
        "area3 area4"
        "area5 area5"
        ;
        gap: 40px;
        padding: 20px;
    }
    .t1 {
        grid-area: area1;
    }
    .t2 {
        grid-area: area2;
    }
    .t3 {
        grid-area: area3;
    }
    .t4 {
        grid-area: area4;
    }
    .t5 {
        grid-area: area5;
    }
    .tarjeta-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area7 area7"
        ;
        gap: 25px;
        padding: 20px;
    }
    .b1 {
        grid-area: area1;
    }
    .b2 {
        grid-area: area2;
    }
    .b3 {
        grid-area: area3;
    }
    .b4 {
        grid-area: area4;
    }
    .b5 {
        grid-area: area5;
    }
    .b6 {
        grid-area: area6;
    }
    .b7 {
        grid-area: area7;
    }
    .tarjetita , .tarjetita-body {
        background-color: black;
        color: white;
        box-shadow: 3px 0px 3px 2px white;
        border-radius: 0%;
        transition: 1s;
    }
    .tarjetita:hover {
        box-shadow: 3px 0px 3px 2px $color-messi;
        transform: scale(1,1.1);
    }
    .tarjetita-body:hover {
        box-shadow: 3px 0px 3px 2px $color-ronaldo;
        transform: scale(1,1.1);
    }
    .card-titulo , .card-body-titulo , .tarjeta-titulo {
        font-size: 40px;
    }
    .tarjetita h2 , .tarjetita-body h4 {
        font-size: 35px;
    }
    footer {
        justify-content: space-around;

        div {
            gap: 15px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}