footer {
    font-family: 'ADLaM Display', cursive;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    
    "area1 area2"
    "area3 area4";
    padding: 20px 0px;
    gap: 10px;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        object-fit: cover;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    p {
        color: white;
        text-align: center;
        font-size: 15px;
    }
}
.f1 {
    grid-area: area1;
}
.f2 {
    grid-area: area2; 
}
.f3 {
    grid-area: area3; 
}
.f4 {
    grid-area: area4;
}